body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cc0000;
}

header {
  margin-top: 50px;
  margin-bottom: -30px;
}

#score-board {
  width: 50%;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  border-radius: 25px;
  background-color: #000;
}

#score-board h2 {
  font: 700 30px 'Mirza', cursive;
  color: #ffff00;
  margin-right: 25px;
  display: inline;
}

h2:first-child {
  margin-left: 27px;
}
#spriteModal .modal-content {
  background-color: #ff5c33;
  height: 300px;
}

#sprites h2 {
  font: 700 40px 'Mirza', cursive;
  color: #fff;
}

#sprites img {
  margin: 0;
  cursor: pointer;
}

.modal {
  margin-top: 200px;
}

#winModal .modal-content{
  background-image: url("../images/star.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  background-color: #0000cc;
}

#winModal .modal-header,
#winModal .modal-footer {
  background-color: #ffff00;
}

#winModal p {
  margin-top: 15px;
  font: 700 40px 'Mirza', cursive;
  line-height: 185%;
  color: #ffff00;
}

#loseModal .modal-content{
  background-image: url("../images/enemy-bug.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffff00;
}
#loseModal .modal-header,
#loseModal .modal-footer {
  background-color: #0000cc;
}

#loseModal p {
  font: 700 40px 'Mirza', cursive;
  color: #0000cc;
  line-height: 275%;
}

.modal-footer {
    text-align: center;
}

.btn {
  font:  400 30px 'Mirza', cursive;
  width: 100px;
  color: #006600;
}

#newSprite {
  width: 200px;
  font:  400 30px 'Mirza', cursive;
  color: #006600;
  word-wrap: break-word;
}

#endModal .modal-content{
  background-color: #000;
}

#endModal p {
  font: 700 40px 'Mirza', cursive;
  color: #33ccff;
}
