body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cc0000;
}

header {
  margin-top: 50px;
  margin-bottom: -30px;
}
h2 {
  font: 30px arial san-serif;
  color: #ffff00;
  margin-left: 30px;
  display: inline;
}

.modal {
  margin-top: 200px;
}

#winModal .modal-content{
  background-image: url("../images/star.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  background-color: #0000cc;
}

#winModal .modal-header, #winModal .modal-footer {
  background-color: #ffff00;
}

#winModal p {
  margin-top: 15px;
  font: 700 40px 'Mirza', cursive;
  line-height: 185%;
  color: #ffff00;
}

#loseModal .modal-content{
  background-image: url("../images/enemy-bug.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffff00;
}
#loseModal .modal-header, #loseModal .modal-footer {
  background-color: #0000cc;
}

#loseModal p {
  font: 700 40px 'Mirza', cursive;
  color: #0000cc;
  line-height: 275%;
}

.modal-footer {
    text-align: center;
}

.btn {
  font:  400 30px 'Mirza', cursive;
  width: 100px;
  color: #006600;
}
