body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #cc0000;
}

header {
  margin-top: 50px;
  margin-bottom: -30px;
}
h2 {
  font: 30px arial san-serif;
  color: #ffff00;
  margin-left: 40px;
  display: inline;
}
